@page
@model Clinica.Pages.Pacientes.CreateModel
@{
    ViewData["Title"] = "Registrar Paciente";
}

<div class="container mt-4 animate__animated animate__fadeIn">
    <h2 class="mb-3">Registrar Paciente</h2>

    <form method="post">
        <div class="mb-3">
            <label asp-for="NuevoPaciente.Nombre" class="form-label"></label>
            <input asp-for="NuevoPaciente.Nombre" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="NuevoPaciente.FechaNacimiento" class="form-label"></label>
            <input asp-for="NuevoPaciente.FechaNacimiento" type="date" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="NuevoPaciente.Direccion" class="form-label"></label>
            <input asp-for="NuevoPaciente.Direccion" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="NuevoPaciente.Telefono" class="form-label"></label>
            <input asp-for="NuevoPaciente.Telefono" class="form-control" />
        </div>

        <button type="submit" class="btn btn-success rounded-pill">Guardar</button>
        <a href="/Pacientes" class="btn btn-secondary ms-2 rounded-pill">Cancelar</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
